.breadcrumb-detail {
    margin-top: 130px;
    margin-left: 50px;
}

.breadcrumb-link {
    cursor: pointer;
}

.breadcrumb-link:hover {
    color: #02a7a7
}


.item-image {
    width: 670px;
    height: 400px;
}

.item-image-and-right-side {
    display: flex;

}