* {
  font-family: "poppins" !important;
}

.body-holder {
  margin-bottom: 100px;
}

.main-image {
  height: 650px;
  width: 650px;
}

.first-image {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.intro-text {
  color: #455a64;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.intro-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 20px;
}

.step-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.each-step {
  width: 150px;
}

.browse-items-btn {
  background-color: #02a7a7 !important;
}

.how-it-works {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: #455a64;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.instructions-image {
    height: 190px;
    width: 190px;
}

.instructions-text {
    color: #455a64;
}

.grid-item {
    width: 400px;
}

.instructions-sub-headers {
    color: #02a7a7;
    font-size: 25px;
}

.review-text {
    color: #455a64;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.review-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.review-card-img {
    height: 80px;
    width: 100px;
}

.review-card-review {
    color: #133240;
}

.review-card {
    width: 400px;
}

.home-signup-btn {
    margin-top: 50px;
    width: 300px;
    font-size: 20px;
}