/* * {
    font-family: 'poppins' !important;
} */

.link-to-signup-page {
    cursor: pointer;
    color: #444444;
}

.link-to-signup-page:hover {
    color: black !important;
}

.log-in-picture {
    margin-top: 110px;
    height: 800px;
    width: 800px;
}

.sign-in-logo-and-name {
    display: flex;
}

.sign-in-text {
    display: flex !important;
    justify-content: start !important;
    font-size: 23px;
    color: #455a64
}

@media (max-width: 600px) {
    .log-in-picture {
        height: 300px;
        width: 500px;
        display: flex;
        justify-content: center;
    }

    .sign-in-logo-and-name {
        margin-top: -40px;
    }
}

