.sign-in-btn {
    background-color: #02A7A7 !important;
    font-size: 18px !important;
}

.signIn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.link-to-sign-in-page {
    cursor: pointer;
    color: #444444;
}

.link-to-sign-in-page:hover {
    color: black !important;
}

.register-sign-up-text {
    color: #455a64;
    margin-bottom: 16px !important;
}