.footer {
  padding: 20px;
  height: 150px;
  width: auto;
  background-color: #455a64;
  font-family: "poppins";
  color: white;
}

.footer-pin {
  color: white;
  font-size: 25px !important;
  margin-top: 2px !important;
}

.footer-logo {
  font-size: 20px;
}

.footer-logo-img {
  display: flex;
  justify-content: center;
}

.footer-follow-us {
  color: white;
  font-size: 20px;
}

.extra-text {
  font-size: 12px;
}

.support-footer,
.community-footer,
.about-footer {
  margin-right: 40px;
}

.instagram-icon {
  font-size: 25px;
  margin-left: 5px;
  margin-right: 4px;
  margin-top: 2px;
}

.tiktok-icon {
  font-size: 20px;
}

.facebook-icon {
  font-size: 20px;
}

.socials-container {
  display: flex;
  align-items: center;
}

.support-text,
.follow-us-text,
.community-text,
.about-text {
  font-weight: 600;
}

.copyright-text {
  color: white;
  display: flex;
  font-size: 12px;
  margin-top: 15px;
  align-items: flex-end;
}

@media only screen and (max-width: 375px) {
  .copyright-text {
    justify-content: center;
  }
}

@media only screen and (max-width: 585px) {
  .support-footer,
  .community-footer,
  .about-footer {
    display: none;
  }

  .copyright-text {
    margin-top: 32px;
  }
}
