.post-page-header {
    color: $darkBlue;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}

.img-upload-box-wrapper {
    padding: 0 !important;
    margin-top: 10px !important;
}

.upload-img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 136px;
    width: 187px;
    border-radius: 6px;
    background-color: #FAFAFA;
    border: 1px solid #A6A6A6;
}

.uploaded-image-container {
    border: 1px solid red !important;
    display: flex;
    gap: 15px;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
}

.radio-input {
    margin-right: 50px;
    display: flex;
    // gap: 15px;
    flex-direction: column;

    .radio-description {
        width: 200px;
    }
}

.uploaded-img {
    width: 300px;
    // object-fit: cover;
}

.remove-button {
    padding: 5px;
}

.form-label {
    color: $black;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    // line-height: 24px;
    margin-bottom: 10px;
}

// Tablet
@media screen and (min-width: 500px) {
    .uploaded-img {
        width: 450px
    }
}


@media screen and (min-width: 700px) {
    .uploaded-img {
        width: 600px
    }
}