* {
  font-family: "poppins" !important;
}

.feed {
  display: flex;
  justify-content: center;
}

.item-feed-name {
  font-family: "Poppins";
  margin-top: -40px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #455a64;
}

.pickup-type-holder {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  padding-bottom: 20px;
}

.pickup-type {
  display: flex;
  justify-content: center;
}

.radio-btn-scheduled {
  color: #ff725e !important;
}

.radio-btn-immediate {
  color: #02a7a7 !important;
}

.radio-btn-all {
  color: #455a64 !important;
}

.sub-filter-reset {
  background-color: #455a64;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: 'poppins' !important;
}

.sub-filter-reset:hover {
  color: white;
  font-size: 15px;
}

.sub-filters {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-family: 'poppins' !important;
}

.sub-filters:hover {
  color: white;
  background-color: $primary;
  font-size: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.pagination-bottom {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  margin-bottom: 98px;
}

.post-container {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  width: 320px !important;
}

.radio-filters {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.all-radio-button {
  color: #455a64 !important;
}

.scheduled-radio-button {
  color: #02a7a7 !important;
}

.immediate-radio-button {
  color: #ff725e !important; 
}

.category-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.item-card-grid-container {
  z-index: 0;
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -10px;
  align-items: center;
}

.item-card {
  width: 300px;
  min-height: 272px;
  margin-bottom: 54px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;

  .card-content-1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 7px;

    h3 {
      font-family: "Manrope";
      color: $darkBlue;
      font-size: 20px;
      font-weight: 600;
    }

    h4 {
      font-family: "Manrope";
      color: $darkBlue;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.02em;
    }
  }

  .card-content-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pick-up-container {
      display: flex;
      align-items: center;

      h3 {
        color: $darkBlue;
        font-family: "Manrope";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
        margin-left: 6.3px;
      }
    }

    h4 {
      color: $darkBlue;
      font-family: "Manrope";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.02em;
    }
  }

  .delete-btn {
    display: flex;
    justify-content: end;
    margin-top: -25px;
  }
}

// Tablet
@media screen and (min-width: 1024px) {
  .post-container {
    width: 953px !important;
  }
}

// Laptop
@media screen and (min-width: 1280px) {
  .post-container {
    width: 1131px !important;
  }

  .item-card {
    // had to adjust height due to padding in the card's content section
    height: 290px;
    width: 356px;
  }
}