.feed {
    header {
        border: 1px dotted lightcoral;
    }

    .items-card-container {
        border: 1px dotted purple;
    }

    .item-card {
        img {
            border: 1px black solid;
            border-radius: 10px;
        }
    }
}