@import './colors.scss';
@import './fonts.scss';
@import './homepage.scss';
@import './itemdetail.scss';
@import './login.scss';
@import './register.scss';
@import './navigation.scss';
@import './itemCategories.scss';
@import './footer.scss';
@import './feed.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}