.item-detail-page {
    .item-basic-info {
        border: 1px dotted orange;
    }

    .item-details {
        border: 1px dotted green;
    }

    .item-description {
        border: 1px dotted maroon;
    }

    .contact-poster{
        img{
            border-radius: 50%;
        }
    }
}