.pitch-and-image {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.pitch-text {
    font-size: 15px;
    margin-right: 40px;
}

.value-proposition-text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.upcycling-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blurb-three-img,
.blurb-two-img,
.blurb-one-img {
    display: flex;
    justify-content: center;
}

.blurb-one-actual-img {
    border-radius: 100px;
}

.blurb-three-holder,
.blurb-two-holder,
.blurb-one-holder {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 15px;
}

.who-we-are-container {
    margin-top: 100px;
}

.who-we-are-text {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.authors-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.author-information-text {
    width: 200px;
    margin-top: 15px;
}

.individual-qanda-columns {
    margin-left: 30px;
}

.person-four-container,
.person-three-container,
.person-two-container {
    margin-left: 20px;
}

.person-three-img-container {
    display: flex;
    justify-content: center;
}

.author-img {
    border-radius: 100%;
}

.faq-text {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.answer-section {
    display: flex;
    width: 200px;
}

.question-section {
    width: 200px;
    display: flex;
}

.qanda-holder {
    display: flex;
}

.q,
.a {
    font-weight: 600;
    margin-right: 5px;
}

.link-to-more-text {
    margin-top: 20px;
    font-size: 15px;
    text-align: end;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}

.bottom-space {
    margin-bottom: 125px;
}

.author-socials {
    display: flex;
    flex-direction: column;
}

.author-links {
    color: hsl(199deg, 54%, 16%);
    margin-left: 7px;
}

.github-section,
.linkedIn-section {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

@media (max-width: 1000px) {
    .qanda-holder {
        flex-wrap: wrap;
    }

    .authors-container {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .link-to-more-text {
        margin-top: 50px;
        margin-right: 30px;
    }

    .pitch-text {
        width: 600px;
    }

    .pitch-and-image {
        justify-content: space-evenly;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .pitch-img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 689px) {
    .qanda-holder {
        justify-content: center;
    }
}

@media (max-width: 876px) {
    .pitch-and-image {
        flex-wrap: wrap-reverse;
    }

    .pitch-text {
        margin-right: 0;
        margin-top: 20px;
    }
}

@media (max-width: 375px) {
    .qanda-holder {
        justify-content: center;
    }

    .link-to-more-text {
        margin: 40px;
        display: flex;
        justify-content: center;
    }

    .who-we-are-text {
        margin-top: -120px;
    }

    .authors-container {
        justify-content: center;
    }

    .img-and-info {
        margin-bottom: 20px;
    }

    .individual-qanda-columns {
        margin-left: 0;
    }

    .img-and-info {
        padding-bottom: 1rem;
    }

    .faq-text {
        margin-top: 30px
    }
}

@media (max-width: 810px) {
    .upcycling-info {
        flex-direction: column;
        margin-top: -20px;
    }

    .blurb-three-holder,
    .blurb-two-holder,
    .blurb-one-holder {
        width: auto;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 3rem;
    }
}